= render partial: 'shared/header'
%div.container-fluid
  %div.row
    %h1.jumbotron(align:right)  Poojas
    %div.list-group
    - @poojas.each do |p|
      %a.list-group-item.list-group-item-action.flex-column.align-items-start
        %div.d-flex.w-100.justify-content-between
          %h5.mb-1= p.Title
          %p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus vari
          %small Donec id elit non mi porta.
  %div.row
    %div.col-xs-12.col-sm-12
      %div.list-group.poojas
      - @poojas.each do |p|
        /%a(href="poojas/#{p.id}") #{p.id}
        =link_to p.Title,poojas_pooja_path(p.id) ,{class:"list-group-item list-group-item-action"}
= will_paginate @poojas
