%br
%div.container-fluid
  %div.row
    %h1.jumbotron Book Pooja
%ul
  - @pooja.errors.each do |attr, msg|
    %li = @user.errors.full_messages_for(attr).first if @user.errors[attr].first == msg

= form_for(@order) do |f|
  %div.container
    %div.row
      = f.hidden_field :id, value: @pooja.id
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        = f.label "Title"
        = f.text_field :Title, value: @pooja.Title, class: "form-control disabled", disabled: true
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        = f.label "Description"
        = f.hidden_field :pooja_id, value: @pooja.id
        = f.hidden_field :user_id, value: current_user.id
        = f.text_field :Description, value: @pooja.Description, class: "form-control disabled", disabled: true
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        = f.label "Price"
        = f.text_field :Price, value: "Rs.#{@pooja.Price}", class: "form-control disabled", disabled: true
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        = f.label :Book_date
        = f.hidden_field :Book_status, value: 'a'
        = f.text_field :Book_date, placeholder: "Booking Date", type: "date", class: "form-control", "date-role": "date", "data-inline": true, required: true
        %br
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        = f.label "Booking Time"
        = f.text_field :Book_time, placeholder: "Booking Time", type: "time", class: "form-control", required: true
        %br
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        = f.label :address
        = f.text_area :address, placeholder: "Address", class: "form-control", required: true
        %br
    %div.row
      %div.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.col-md-3.col-sm-8.col-xs-8
        %button.btn.btn-success{type: "submit"} Book
