%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} EPooja
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          -if current_user
            = link_to "Home", current_user.user_type=='p' ? pandits_path : poojas_index_path
          -else
            = link_to "Home", root_path
        -if current_user
          -if current_user.user_type=='c'
            %li
              = link_to "Your Orders",orders_path
          -elsif current_user.user_type=='p'
            %li
              = link_to "Show My Bids", place_bids_path#pandit_pandits_show_bids_path(current_user)
      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %li
            %a{href: "#"} Welcome #{current_user.email}
          %li
            = link_to('Logout', destroy_user_session_path, method: :delete)
        -else
          %li
            = link_to "SignUp",new_user_registration_path
          %li
            = link_to "Login",new_user_session_path
%br
